"
" vim config. Install it using : ln -s -f vimrc.rc ~/.vimrc
"
" author: amit213
"

syntax on

set nu

set ai
"set background=light
"set ts=4
"set sw=4
"set spell 
"set spl=en

" Use the solarized color scheme.
"
syntax enable
"set background=dark
"colorscheme solarized

colorscheme evening
"colorscheme darkblue

set cscopequickfix=s-,c-,d-,i-,t-,e-


if has('cscope')
set cscopetag cscopeverbose

if has('quickfix')
set cscopequickfix=s-,c-,d-,i-,t-,e-
endif

cnoreabbrev csa cs add
cnoreabbrev csf cs find
cnoreabbrev csk cs kill
cnoreabbrev csr cs reset
cnoreabbrev css cs show
cnoreabbrev csh cs help

command -nargs=0 Cscope cs add $VIMSRC/src/cscope.out $VIMSRC/src
endif

set tags=./tags,tags;$HOME
